language: cpp
compiler: gcc
before_install:
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt-get update -qq
- sudo apt-get install -qq libboost-all-dev g++-6
- sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90
script: make info && make
deploy:
  provider: releases
  api_key:
    secure: 0dys1UAw5SMQ0cfUhbXaECx2IjqSYuNYRP+3S89ntFJXw5mCDGMJY4+fqZYRtQ9q3rGtnIn2xp3OL7kY7A09jN+vqXihJzNppxvKARO4G/pesIjuemmFilhrj1H8PgiS2+DkSnfjHzj03D1RkaX9SJQOquu887OadHDC392lwnA6gX2lji7aixr6/iG4IIn66O7gt8SWG9y4XTEd0//ycI04wyDDEzeIXTo9+u1usRq1S6HwpdUGRnwNDZd5LDwft6icxJyZFEu5CRgevGPPEeMoC0VdsrMe8DXJLKC/5snshskSDk2KgbIAtzWABUzq5aWA104tr1WAbSBTrVu1vWG8zV6Lf4pSEZjpI35gS6SBpavNjO5U8lZG0F49JZKti5eE7uojPFW516a4zV9kQeRLenWI0iavYBdkdlzMTEw5NEbbORnAD8uP4XB+DgLrn2YMZa9rJ5IO02o4oCdV4ii2yDoHyFMiP4INnoZ8X4STf2pEanUOXZFw5Owx8aCxFRIszUQOKEU/oEj8g6Kn20Wi1S5p4QoOfidqxYoIRx2PAIt4ZTl1KDi6xozxJ5s3IIHU6YpOxJBjmm0ny9wglGF+VdQA2cjfOwfjXgBMMNn6ORqSXiGqe/3wsMcOBJNSZpLPi4wdc5DbmZ706VTeB1xcTh8w87LlxETtyX4bdoI=
  file: "./a.out"
  on:
    repo: Mulan-Szechuan-Sauce/house20
